body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}


nav {
    background-color: #7707a8;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2rem;
    padding: 10px 20px; 
    display: inline-block; 
    transition: all 0.3s ease;
}

nav a:hover {
    text-decoration: none;
    background-color: #f2f2f2; 
    border: 2px solid #333; 
    border-radius: 5px; 
    color: #333;
}


.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #444;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table thead {
    background-color: #7707a8;
    color: white;
}

table th, table td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
}

table tr:hover {
    background-color: #f1f1f1;
}

table thead tr:hover {
    background-color: transparent; 
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form label {
    font-weight: bold;
}

form input, form button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input:focus {
    border-color: #7707a8;
    outline: none;
}

form button {
    background-color: #7707a8;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #7707a8;
}


a.btn-update {
    text-decoration: none;
    background-color: #4CAF50; 
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
a.btn-update:hover {
    background-color: #45a049; 
}

button.btn-delete {
    background-color: #f44336; 
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
button.btn-delete:hover {
    background-color: #d32f2f; 
}